<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632439179812-964fbg6f4t5q5apc9773at9i320hv3kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632439179812-964fbg6f4t5q5apc9773at9i320hv3kt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632439179812-9c83l15ufj3o2lv2v7j6epftqrmum5pk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkNJ8hBRhTyKJbzMYUJOEisRNFWa6nUZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>632439179812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RickAndMortyApp</string>
	<key>PROJECT_ID</key>
	<string>rickandmortyapp-3b196</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmortyapp-3b196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632439179812:ios:a3d1ca344afd1da4a1e6b1</string>
</dict>
</plist>